.suggestion {
  position: relative;

  background-color: rgb(134, 134, 134);
  border: 1px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  cursor: pointer;
}
.suggestion:hover {
  background-color: rgba(15, 144, 254, 1);
}

.countryTitle {
  color: #f3f1f5;
  text-align: right;
}

.MuiInputBase-input {
  box-sizing: border-box !important;
  height: 40px !important;
  min-height: unset !important;
  padding: 8px;

  background-color: rgb(78, 77, 77) !important;
  border-radius: 4px;
}

.select {
  flex-grow: 1;
}

.formcontrol {
  display: flex !important;
}

.inputSuggest {
  width: 75%;
  margin-right: 16px;
}
