.suggestion{
    position:relative;
cursor:pointer;
border:1px;
border-right: 1px solid black;
border-left: 1px solid black;
border-bottom: 1px solid black;
background-color: rgb(134, 134, 134);
}
.suggestion:hover{
background-color: rgba(15, 144, 254, 1)
}

.countryTitle{
    color: #f3f1f5;
    text-align: right;
}

.select {
    
    background-color: rgb(78, 77, 77);
    min-width: 100px;
}

.formcontrol {
    /* display: flex !important;
    flex-direction: row !important; */
}

.inputSuggest {
    display: flex;
    flex-direction: column;
}
