/* App */
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ChartByYear Component */
.chartByYear {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.chartContainer {
  background-color: #262626;

  display: flex;
  justify-content: center;
  width: 800px;
  padding: 40px;
}

.mapContainer {
  background-color: #262626;
  display: flex;
  justify-content: center;
  width: 85vw;
  padding: 40px;
  color: #a6caef;
}


.custom-tooltip {
  border: 1px solid #cdc2d9;
  border-radius: 5px;
  background-color: rgba(15, 144, 254, 1);
  padding: 10px;

  color: #f3f1f5;
}

p {
  margin: 0px;
}
